.html {
  background: #ededed;
}

body.aegir {
  background: #ededed;
}

div#header {
  background-image: none;
  background-color: #3b4449;
}

div#header-region {
  background: #ededed;
}

div#page {
  background: #ededed;
}

div#page div.limiter {
  background: #ededed;
}

div#page div.container-inline {
  background: #ededed !important;
}

div#header div.logo a {
  background-image: url("weldir-logo.png");
}

div#header div.site-name {
  color: #ef7d25;
  border-left: #ef7d25;
}

div#navigation {
  background-image: none;
  background-color: #3b4449;
  border-top: none;
}

div#navigation a {
  color: #ededed;
}

div#navigation ul.links a {
  color: #3b4449;
  background: #ededed;
}

div#console {
  background-color: #ededed;
  background: #ededed;
  border-top: none;
  border-bottom: none;
}

div#console div.messages {
  border-color: #ef7d25;
  text-shadow: none;
  background: none;
  color: #ef7d25;
}

/* #footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #3b4449 !important;
} */
