.html {
  background: #ededed;
}

body.aegir {
  background: #ededed;
}

div#header {
  background-image: none;
  background-color: #3b4449;
}

div#header-region {
  background: #ededed;
}

div#page {
  background: #ededed;
  margin-bottom: 70px;
}

div#page div.limiter {
  background: #ededed;
}

div#page div.container-inline {
  background: #fff !important;
}

body.aegir fieldset legend {
  font-size: 14px;
}

div#header div.logo a {
  background-image: url("weldir-logo.png");
}

div#header div.site-name {
  color: #ef7d25;
  border-left: #ef7d25;
}

div#navigation {
  background-image: none;
  background-color: #3b4449;
  border-top: none;
}

div#navigation a {
  color: #cbcbcb;
}

div#navigation ul.links a {
  color: #3b4449;
  background: #cbcbcb;
}

div#navigation ul.links a:hover {
  background: #cbcbcb;
}

div#navigation ul.links li.active a, div#navigation ul.links li a.active {
  background: #ededed;
}

div#console {
  background-color: #ededed;
  background: #ededed;
  border-top: none;
  border-bottom: none;
}

#page ul.tabs, div#header-region ul.tabs {
  width: 620px;
}

div.item-list .pager {
  padding-top: 20px;
}

div#console div.messages {
  border-color: #ef7d25;
  text-shadow: none;
  background: none;
  color: #ef7d25;
}

div.help p {
  background-color: #F8F8F8;
  padding: 10px;
}

div#main {
  background: #fff;
}

div.node h3 {
  font-size: 18px;
  color: #000;
}

div.node h4 {
  font-size: 16px;
  color: #000;
}

div.node h5 {
  font-size: 14px;
  color: #000;
}

div.node h6 {
  font-size: 12px;
  color: #000;
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #3b4449 !important;
}
